<% if flash[:errors]%>
    <%= flash[:errors]%>
<%end%>
<script>
    var voters_count
    function change(){
        voters_count = document.getElementsByName('number_of_candidates')[0].value;

        var i=0;
         for (i=0;i<voters_count;i++) {  
            var input = document.createElement('input');
            input.type="test";
            input.name="name of candidate "+(i+1)
            input.placeholder="name of candidate "+(i+1);
            document.getElementById('name').appendChild(input);
            var br = document.createElement('br');
            document.getElementById('name').appendChild(br);
        }
    }
</script>
<%= form_with name:'form', url:"/offline/vote" do |f|%>
    <p>
    <%=f.label :number_of_candidates%>
    <%=f.number_field :number_of_candidates, :onchange => ("javascript: change()")%>
    </p>

    <p>
    <%=f.label :number_of_maximum_voters%>
    <%=f.number_field :number_of_maximum_voters%>
    </p>

    <div id="name">
    </div>
    
    <br/>
    <%=f.submit "Next"%>
<%end%>