<% if flash[:errors]%>
<div><% flash[:errors].each do |error|%>
    <p><%= error %></p>
</div>
<%end%>
<%end%>

<%= form_with model:@sign_up, url:"/welcome_sign_up" do |f|%>
    <p>
    <%=f.label :user_name%>
    <%=f.text_field :user_name%>
    </p>

    <p>
    <%=f.label :email%>
    <%=f.text_field :email%>
    </p>
    
    <p>
    <%=f.label :mobile_no%>
    <%=f.text_field :mobile_no%>
    </p>
    
    <p>
    <%=f.label :password%>
    <%=f.text_field :password%>
    </p>

    <p>
    <%=f.label :password_confirmation%>
    <%=f.text_field :password_confirmation%>
    </p>

    <%=f.submit "Sign Up"%>
<%end%>